/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     font-family: 'Open Sans', sans-serif;
     margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container-1 {
  width: 100%;
  margin: auto;
  height: 500px;
  text-align: center;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  padding: 20px;
}

.container-2 {
  width: 100%;
  margin: auto;
  height: 400px;
  background-color: #f0efef;
  overflow: auto;
  padding: 20px;
}

.container-3 {
  width: 100%;
  margin: auto;
  background-color: #f9e42e;
  padding: 75px 10%;
  overflow: hidden;
}

.container-4 {
  width: 100%;
  margin: auto;
  height: 200px;
  background-image: url("../images/testimonial_bg.jpg");
  background-size: cover;
  overflow: auto;
  padding: 20px 0;
  text-align: center;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.container-5 {
  width: 100%;
  margin: auto;
  height: 75px;
  background-color: #f9e42e;
  text-align: center;
  padding: 20px;
  position: relative;
}

.benefits {
  float: left;
  width: 45%;
  margin: 20px 0 0 5%;
  padding: 10px;
}

.button {
  float: left;
  width: 45%;
  margin: 125px 5% 0 0;
  text-align: center;
}

.blue-button {
  text-align: center;
  background-color: #033048;
  color: white;
  font-size: 12px;
}

.quote-text {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  margin: 0 30%;
  line-height: 28px;
  overflow: auto;
}

.quote-author {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: 5px 30% 0 30%;
}

.footer-1 {
  color: #f9e42e;
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}

.footer-2 {
  color: white;
  font-size: 9px;
  font-weight: 600;
}

.social{
  padding: 60px 30px;
  zoom: 50%;
}

h1 {
  font-weight: 800;
  font-size: 24px;
  color: white;
  float: left;
  text-align: left;
  margin: 20px 0 0 5%;
  width: 100%;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: white;
  padding: 150px 0 50px 0;
  margin: auto;
}

h3 {
  color: #033048;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

p, ul {
  font-weight: 300;
  font-size: 13px;
}

header {
  height: 100px;
}

footer {
  background-color: #121212;
  height: 200px;
  text-align: center;
  padding: 30px;
  overflow: auto;
  /*color: white;
  position: absolute;
  bottom: 0;
  height: 0px;
  margin: 20px 0 0 0;
  width: 100%;*/
}

button {
  color: #033048;
  background-color: #f9e42e;
  border-radius: 5px;
  border: none;
  padding: 6px 40px;
  font-size: 14px;
  font-weight: 800;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.box-1, .box-2, .box-3 {
  background-color: blue;
  float: left;
  height: 150px;
  padding: 0 5%;
  margin: 5%;
  width: 23.3%;
}

.feature {
  float: left;
  padding: 0 5%;
  margin: 0 5% 5% 5%;
  width: 23.3%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  overflow: auto;
}
